.container {
    width: 100%;
    height: 100vh;
    // background-color: blue;
}

.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.gallery-container {
    display: inline-block; 
    width: 50%;
    height: 100vh; 
    background-color: green;
}

.container-new {
    height: 100%;
}