.container {
    width: 100%;
    height: 100vh;
    // background-color: blue;
}

.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.menu-container {
    display: flex;
    // position: relative; 
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
}

.menu-header, .menu-footer, .menu-contents {
    // position: relative;
    width: 100%;
    // background-color: goldenrod;
}

.menu-contents {
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
    margin-left: 40%;

    h2, p {
        display: inline-block;
        margin: 10px 0;
        padding: 0;
    }

    p {
        font-size: 75%;
        margin: 0 0 0 5px;
    }
}

.menu-footer {
    background-color: goldenrod;
    height: 10vh;
    // margin: 50px 0;
    bottom: 0;
}

.menu-header {
    background-color: gray;
    height: 10vh; 
    top: 0;
}

.gallery-container {
    display: inline-block; 
    width: 50%;
    height: 100vh; 
    background-color: green;
}