.schedule-control {
    height: 60px;
    border: 2px solid $sidebar-bgcolor;
    display: flex;
    justify-content: space-between;
}

.button-view-container {
    width: 250px;
    display: inline-block;
}

.selected-button {
    background: $primary;
}

.search {
    width: 200px;
    display: inline-block;
}

.bookings-container {
    width: auto;
    height: 100%;
    display: flex;
    padding: 15px; 
    border: 2px solid red;
}

.bookings-view {
    border: 2px solid black;
    height: 750px;

    &-close {
        width: 65%;
        transition: width 2s; 
    }

    &-open {
        width: 100%;
        transition: width 2s;
    }
}

.bookings-detail {
    width: 30%;
    border: 2px solid black;

    &-close {
        width: 0%;
        display: none;
    }

    &-open {
        width: 35%;
    }
}